#set($context = {
  "aws_region": "${aws_region}",
  "user_pool_id": "${user_pool_id}",
  "user_pool_domain": "${user_pool_domain}",
  "rest_api_id": "${rest_api_id}",
  "stage_name": "${stage_name}"
})
{
  "statusCode": 200
}
